<%= link_to "Home", root_path %>
<%= simple_form_for (@roadmap) do |f| %>
      <%= f.association :skill %>
	  <%= f.input :title, as: :string %><br>
	  <%= f.input :description, as: :text %><br>
    <%= f.label :image %>
    <%= f.file_field :image %><br>
	  <%= f.button :submit %>
 <% end %>


<div id = "sortable">
<% @roadmap.resources.sort{|x, y| x.position_id <=> y.position_id}.each do |resource| %>
  <%=resource.name%><br><%= content_tag(:p, resource.description, 'data-id' => resource.id) %>
<% end %>
</div>
