<div class="page_container">
  <% if user_signed_in? %>
    <%= render 'layouts/header' %>
  <% end %>
  <div class="page_form">
    <div class="medium-8 medium-centered large-5 large-centered columns">
      <div class="new_roadmap_wrapper">

      <div class="row hide-for-small header" id="home_link">
          <div class="medium-12 medium-centered large-12 large-centered columns header">
            <h5>Create a new roadmap</h5>
          </div>
      </div>

        <div class="small-10 small-centered medium-8 medium-centered large-9 large-centered columns">
          <%= simple_form_for (@roadmap), html: { class: 'new_roadmap_form' } do |f| %>
          	  <%= f.input :title, as: :string, :placeholder=> "Name your Roadmap" %>
          	  <%= f.input :description, as: :text, :placeholder=> "Description" %>
              <%= f.collection_select :category_id, Category.order(:name), :id, :name, :prompt => 'Choose a cateogry' %>
              <%= f.grouped_collection_select :skill_id, Category.order(:name), :skills, :name, :id, :name, :prompt => 'Choose a skill'%>
              <div id="mobile_bar"></div>
          	  <%= f.button :submit, value: "Create" %>
           <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
