<%= link_to "Home", root_path %>
<div>
<h1><%= @roadmap.title %></h1><br>
<h3><%= @roadmap.skill.name %> < <%=@roadmap.skill.category.name %></h3><br>
<%= @roadmap.description %><br>
<%= link_to "Add Resource", new_roadmap_resource_path(@roadmap) %><br>
<%= link_to "Edit Roadmap", edit_roadmap_path(@roadmap) %><br>
<%= link_to "Delete Roadmap", roadmap_path(@roadmap), method: :delete %><br>
<br>
<% @roadmap.resources.sort{|x, y| x.position_id <=> y.position_id}.each do |resource| %>
  <%= link_to resource.name, roadmap_resource_path(@roadmap, resource) %><br>
<% end %>
</div>
