<div>
<h1><%= @roadmap.title %></h1><br>
<%= @roadmap.description %><br>
<% @roadmap.resources.each do |resource| %>
  <%= resource.name %> <br>
  <%= resource.url %> <br>
  <%= resource.description %>
<% end %>
</div>