<div>
<h1><%= @roadmap.title %></h1><br>
<%= @roadmap.description %><br>
<% @roadmap.resources.each do |resource| %>
  <%= resource.name %> <br>
  <%= resource.url %> <br>
  <%= resource.description %><br>
<% end %>
</div>

<%= link_to "Edit", edit_roadmap_path(@roadmap) %>
<%= link_to "Delete", roadmap_path(@roadmap), method: :delete %>