<div class="row">
  <div class="small-12 medium-7 large-7 columns">
    <div class="roadmap_container">
      <%= link_to root_path do %> <i class="fa fa-home fa-lg"></i><% end %>
    
      <div class="small-12 small-centered large-12 large-centered columns">
        <h4><%= @roadmap.title %></h4>
      </div>
      <ul class="small-12 medium-12 large-12 columns breadcrumbs">
        <li><%= @roadmap.skill.name %></li> <li><%= @roadmap.skill.category.name %></li>
      </ul>
      <div id="roadmap_show_description">
        <%= @roadmap.description %><br>
      </div>
      <div class="user_edit_tools">
        <ul>
          <% if current_user == @profile %>
          <li><%= link_to new_roadmap_resource_path(@roadmap) do %><i class="fa fa-plus"></i>Add Resource<%end%></li>
          <li><%= link_to edit_roadmap_path(@roadmap) do %><i class="fa fa-pencil-square-o"></i>Edit Roadmap<%end%></li>
          <li><%= link_to roadmap_path(@roadmap), method: :delete do %><i class="fa fa-trash-o"></i> Delete Roadmap <%end%></li>
          <% end %>
        </ul>
      </div> 
      <div class="small-12 small-centered medium-11 medium-centered large-10 large-centered columns" id ="sortable">
        <% @resources.sort{|x, y| x.position_id <=> y.position_id}.each do |resource| %>
            <div class="row resource">
              <div class="small-9 medium-8 large-10 columns">
              <%= content_tag(:p, resource.name, 'data-id' => resource.id) %>
              </div>
              <% if current_user == @profile %>
              <div class="small-3 medium-4 large-2 columns"><%= link_to roadmap_path(@roadmap), method: :delete do %><i class="fa fa-trash-o"></i><%end%>
              <%= link_to edit_roadmap_resource_path(@roadmap, resource.id) do %><i class="fa fa-pencil-square-o"></i><%end%></div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="small-12 medium-5 large-5 columns">
    <div class="row">
      <div class="user_profile_left_column" id="roadmap_user_profile">
        <h5>PROFILE</h5>
        <% photo = @profile.image %>
        <div class="small-6 medium-6 large-6 columns" class="profile_img"><image src= <%= "#{@profile.image}" %> />
        </div>
        <ul class="small-6 medium-6 large-4 columns">
          <li><i class="fa fa-user"></i><%= @profile.username %></li>
          <li><i class="fa fa-twitter"></i><span><%= @profile.twitter_name %></li>
          <li><i class="fa fa-github"></i><%= @profile.github_name %></li>
        </ul>
        <div class="small-12 medium-12 large-12 columns">
          <% if current_user == @profile %>
          <%= link_to edit_profile_path(@profile) do %><i class="fa fa-cog">Edit Profile</i><% end %>
          <%= link_to edit_user_registration_path do %><i class="fa fa-lock">Account Settings</i><% end %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
    <div>
      Votes: <%= @roadmap.votes.size %>
      <%= button_to "Upvote", vote_roadmap_path(@roadmap), method: :put %>
    </div>
    <% if user_signed_in? %>
       <%if check_owner(current_user, @roadmap) %>
       <% end %>
    <% end %>
    <div class="row">
      <div class="featured_content">
      </div>
    </div>
    
  </div>
</div>

 <% @random_roadmaps.each do |r| %>
 <div>
  <%= r.title %>
 </div>
 <% end %>