<%= link_to "Home", root_path %>
<div>
<h1><%= @roadmap.title %></h1><br>
<h3><%= @roadmap.skill.name %> < <%=@roadmap.skill.category.name %></h3><br>
<%= @roadmap.description %><br>
<% if user_signed_in? %>
	<%if check_owner(current_user, @roadmap) %>
	<%= link_to "Add Resource", new_roadmap_resource_path(@roadmap) %><br>
	<%= link_to "Edit Roadmap", edit_roadmap_path(@roadmap) %><br>
	<%= link_to "Delete Roadmap", roadmap_path(@roadmap), method: :delete %><br>
	<% end %>
<% end %>
Votes: <%= @roadmap.votes.size %>
  <%= button_to "Upvote", vote_roadmap_path(@roadmap), method: :put %><br>
<br>
</div>

<div id = "sortable" >
<% @resources.sort{|x, y| x.position_id <=> y.position_id}.each do |resource| %>
  <%= content_tag(:p, resource.description, 'data-id' => resource.id) %>
  <% end %>
</div>
