<%= link_to "Home", root_path %>
<div>
<h1><%= @roadmap.title %></h1><br>
<%= image_tag @roadmap.image(:medium) %><br>
<%= @roadmap.description %><br>
<%= link_to "Add Resource", new_roadmap_resource_path(@roadmap) %><br>
<%= link_to "Edit Roadmap", edit_roadmap_path(@roadmap) %><br>
<%= link_to "Delete Roadmap", roadmap_path(@roadmap), method: :delete %><br>
<br>
</div>

<div id = "sortable" >
<% @resources.sort{|x, y| x.position_id <=> y.position_id}.each do |resource| %>
  <%= content_tag(:p, resource.description, 'data-id' => resource.id) %>
  <% end %>
</div>
