<div class="hide-for-small" id="header_wrapper">
  <div class="row">
    <div class="medium-4 large-4 columns" id="logo">
      <h1> Grokkie </h1>
    </div>
    <div class="medium-6 large-4 columns" id="navbar_actions">
      <ul>
        <% if user_signed_in? %>
        <li><%= link_to current_user.username, profile_path(current_user) %></li>
        <li><%= button_to "Sign Out", destroy_user_session_path, :method => :delete %>
          <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path%></li>
        <% end %>
      </ul>
    </div>

  </div>
  <div class="row">  
    <div class="medium-4 large-12 columns" id="tagline"><h5>This is our tagline</h5></div>
  </div>  
  <div class="row" id="about_us_wrapper">   
    <div class="medium-4 large-4 columns about_us_column"><i class="fa fa-archive fa-5x"></i><br><p>Collect resources while learning a new skill<p></div>
    <div class="medium-4 large-4 columns about_us_column"><i class="fa fa-sitemap fa-5x"></i><br><p>Post those resources as a roadmap to Grokkie<p></div>
    <div class="medium-4 large-4 columns about_us_column"><i class="fa fa-globe fa-5x"></i><br><p>Share and view other roadmaps to success<p></div>
  </div>
  <div class="row">
    <div class="medium-5 large-4 columns">Find out more about our team</div>
    <div class="medium-4 large-2 columns"><%= link_to "Create a Roadmap", new_roadmap_path %></div>
  </div>    
</div>


<div class="small-12 medium-12 large-12 columns search_wrapper">
  <div class="row"><h4>Search Grokkie</h4></div>
</div>

<div class="row">
  <div class="hide-for-small medium-4 large-4 columns">
    <p> Roadmap your way to success:</p>
  </div>

<!-- Need to fix this dropdown bar for each category and sub-skill -->
  <div class="small-12 medium-8 large-8 columns" id="featured_categories">
    	<% @categories.each do |category| %>
          <a href="#" data-dropdown="drop"><li><%= category.name %></li></a>
    
      <ul id="drop" class="f-dropdown" data-dropdown-content> 
          <%category.skills.each do |skill| %>
  	      <li><%=link_to skill.name, category_skill_path(category, skill)%></li>
  	    <% end %>
      </ul>
  	<% end %>
  </div>
</div>


<div class="row">
  <div class="small-8 medium-6 large-6 columns">
    <h4>Featured Roadmaps:</h4>
  </div>
</div>

<div class="row">
  <table class="featured_roadmaps">
    <tr>
      
      <% @random_roadmaps.each do |r|%>
      <td class="small-10 medium-5 large-3 columns">
        <div class="row">
          <div class="small-4 medium-6 large-4 columns" id="featured_roadmap_title">
            <a href=""><p><%=@users.find(r.user_id).username %><p></a> 
          </div>
          <div class="small-4 medium-6 large-4 columns" id="featured_roadmap_title">
            <!-- Fix the votes!!! -->
            <p>Votes:<%= r.votes.count%><p> 
          </div>
        </div>
        <div class="small-12 medium-12 large-12 columns" id="featured_roadmap_title">
          <a href=""><h5><%=r.title%></h5></a>
        </div>
        <div class="small-12 medium-12 large-12 columns">
          <a href=""><h5><%=r.skill.name%></h5></a>
        </div>
        <div class="small-12 medium-12 large-12 columns" id="featured_roadmap_images">
          <a href=""><img src="">This is a potenial image for the roadmap</a> 
        </div>
      </td>
      <% end %>
      
    </tr>
  </table>