<% if user_signed_in? %>
    <%= current_user.username %>
	<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to "Sign up", new_user_registration_path %> <br>
	<%= link_to "Sign in", new_user_session_path %><br>
	<%= link_to "Sign in with Linkedin", user_omniauth_authorize_path(:linkedin) %> 
<% end %>

<h1> Grokkie </h1><br>
About us should go here...<br>
<h2> Categories </h2>
<div>
	<% @categories.each do |category| %>
	  <strong><%= category.name %></strong> <br>
	    <%category.skills.each do |skill| %>
	      <%= link_to skill.name, category_skill_path(category, skill) %><br>
	    <% end %>
	<% end %>
</div>
<br>

This is where featured Roadmaps will go....