<div class="modal">

<div class="medium-8 medium-centered large-5 large-centered columns">
  <div class="new_roadmap_wrapper">

  <div class="row hide-for-small header" id="home_link">
      <div class="medium-6 large-6 columns">
        <%= link_to root_path do %> <i class="fa fa-home fa-lg"></i><% end %>
      </div>
  </div>

    <div class="small-12 small-centered medium-12 medium-centered large-12 large-centered columns">
      <p class='notice'><%= flash[:notice] %></p>
      <%= simple_form_for [@roadmap, @resource] do |f| %>
        <label>Resource Name:</label>
        <%= f.input :name, as: :string %>
        <label>Resource Url:</label>
        <%= f.input :url, as: :string %>
        <label>Resource description:</label>
        <%= f.input :description, as: :text %>
        <!-- paperclip -->
        <div class="small-12 small-centered medium-12 medium-centered large-12 large-centered columns">
          <% if @resource.image.present? %>
            <%= link_to image_tag(@resource.image.url(:thumb)), @resource.image.url(:original, false), target: "_blank" %>
          <% end %>
          <%= f.label "Upload an image:" %>
          <%= f.file_field :image %>
        </div>
        <div class="small-12 small-centered medium-12 medium-centered large-12 large-centered   columns">
          <% if @resource.attachment.present? %>
            <%= link_to 'Download file: "' + @resource.attachment_file_name + '"', @resource.attachment.url(:original, false), target: "_blank" %>
          <% end %>
          <%= f.label "Upload a file (e.g. pdf, doc, ppt, xls, txt)" %>
          <%= f.file_field :attachment %>
        </div>
        <!-- paperclip -->
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
<a class="close-reveal-modal">&#215;</a>
</div>