<div class="page_container">
  <% if user_signed_in? %>
    <%= render 'layouts/header' %>
  <% end %>
  <div class="page_form">
    <div class="medium-8 medium-centered large-5 large-centered columns">
      <div class="new_roadmap_wrapper">

      <div class="row hide-for-small header" id="home_link">
          <div class="medium-12 medium-centered large-12 large-centered columns header">
            <h5>Add a new resource</h5>
          </div>
      </div>

        <div class="small-10 small-centered medium-8 medium-centered large-9 large-centered columns">
            <%= simple_form_for @resource, method: :post, url: roadmap_resources_path do |f| %>
            <%= f.input :position_id, as: :hidden, :input_html => { :value => @new_position } %>
              <%= f.input :name, as: :string, placeholder: "Resource Name" %><br>
              <%= f.input :url, as: :string, placeholder: "URL for Resource"%><br>
              <%= f.input :description, as: :text, placeholder: "Resource Description" %><br>
            <!-- paperclip -->
            <span>Upload an image:</span>
            <%= f.file_field :image %><br>
            <span>Upload a file (e.g. pdf, doc, ppt, xls, txt)</span>
            <%= f.file_field :attachment %><br>
            <!-- paperclip -->
              <%= f.button :submit %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>