<% @resources.each do |resource| %>
<div id="myModal<%= resource.id%>" class="reveal-modal" data-reveal>
  <%= resource.name %>
  <%= resource.url %>
  <%= resource.description %>
  <!-- paperclip -->
  <% if resource.image.present? %>
    <%= link_to image_tag(resource.image.url(:square)), resource.image.url(:original, false), target: "_blank" %>
  <% end %>
  <% if resource.attachment.present? %>
    <%= link_to 'Download file: "' + resource.attachment_file_name + '"', resource.attachment.url(:original, false), target: "_blank" %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<% end %>
